<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- ナビゲーションバーヘッダ部分 -->
    <div class="nav-header">
      <!-- Top logo。 状態[home]へ遷移 -->
      <a class="navbar-brand" ng-attr-title="Title"  ui-sref="home"><span translate="title.top" /></a>
      <!--トグルボタン(画面幅が小さくなった場合にのみ表示されるナビゲーションボタン) -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
          <!--3つ並べてバーガーアイコンボタン3本分 -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <!-- ナビゲーションバー中央部分 -->
    <div id="nav-content" class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
          <li><a ui-sref="menu_01"><span class="glyphicon glyphicon-th-list"></span> <span translate="title.menu_01"/></a></li>
          <!-- <li><a ui-sref="menu_02"><span class="glyphicon glyphicon-th-list"></span> <span translate="title.menu_02"/></a></li> -->
          <!-- <li><a ui-sref="menu_03"><span class="glyphicon glyphicon-th-list"></span> <span translate="title.menu_03"/></a></li> -->
          <!-- <li><a ui-sref="menu_04"><span class="glyphicon glyphicon-th-list"></span> <span translate="title.menu_04"/></a></li> -->
          <!-- <li><a ui-sref="menu_05"><span class="glyphicon glyphicon-th-list"></span> <span translate="title.menu_05"/></a></li> -->
          <!-- <li><a ui-sref="menu_06"><span class="glyphicon glyphicon-th-list"></span> <span translate="title.menu_06"/></a></li> -->
          <!-- <li><a ui-sref="menu_07"><span class="glyphicon glyphicon-th-list"></span> <span translate="title.menu_07"/></a></li> -->
          <!-- <li><a ui-sref="menu_08"><span class="glyphicon glyphicon-th-list"></span> <span translate="title.menu_08"/></a></li> -->
          <!-- <li><a ui-sref="menu_09"><span class="glyphicon glyphicon-th-list"></span> <span translate="title.menu_09"/></a></li> -->

      </ul>

      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>
