<div class="container-fluid">

    <div class="row">
        <!-- ジャンボトロンによるWelcomeメッセージ -->
        <div class="jumbotron text-center">
            <h2><span translate="title.menu_01_01"></span></h2>
        </div>
    </div>


    <div class="row">
        <app-messages />
    </div>

    <div class="row">
        <button type="button" class="btn btn-primary" ng-click="controller.listClassifiers()"><span translate="label.text_001"></button>
    </div>

    <div class="row">
        <label><span translate="label.text_002"></span></label><h4><span ng-repeat="classifier in controller.selectedClassifiers" class="label label-success">{{ classifier.name }}</span></h4>
    </div>

    <div class="row"></div>

    <div class="row">
        <!-- ui-gridによる高機能テーブル -->
        <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-pagination ui-grid-exporter class="grid"></div>
    </div>

    <div class="row"></div>

    <div class="row" ng-if="chartData.length > 0">
      <nvd3 options='chartOptions' data='chartData'></nvd3>
    </div>

</div>
