<div class="nav nav-sidebar" ng-cloak>
  <div class="panel-heading">
    <a href="" class="text-primary" ui-sref="predictive_analysis">
      <span translate="title.poc"></span>
    </a>
  </div>
  <ul class="nav nav-sidebar">
    <li>
      <a class="text-primary" ui-sref="predictive_analysis.invoke_sample"><span class="glyphicon glyphicon-minus"></span> <span translate="title.predictive_analysis_invoke_sample"></span></a>
    </li>
    <li>
      <a href="" class="text-primary" ui-sref="predictive_analysis.list_result"><span class="glyphicon glyphicon-minus"></span> <span translate="title.predictive_analysis_result_list"></span></a>
    </li>
  </ul>
</div>
