<div class="nav nav-sidebar" ng-cloak>
  <div class="panel-heading">
    <a href="" class="text-primary" ui-sref="menu_01">
      <span translate="title.menu_01"></span>
    </a>
  </div>
  <ul class="nav nav-sidebar">
    <li>
      <a class="text-primary" ui-sref="menu_01.01"><span class="glyphicon glyphicon-minus"></span> <span translate="title.menu_01_01"></span></a>
    </li>
    <li>
      <a class="text-primary" ui-sref="menu_01.02"><span class="glyphicon glyphicon-minus"></span> <span translate="title.menu_01_02"></span></a>
    </li>
    <li>
      <a class="text-primary" ui-sref="menu_01.03"><span class="glyphicon glyphicon-minus"></span> <span translate="title.menu_01_03"></span></a>
    </li>
  </ul>
</div>
